<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,Version=6.4.4.0, Culture=neutral,PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <globalization enableClientBasedCulture="true" responseHeaderEncoding="iso-8859-9" responseEncoding="iso-8859-9" requestEncoding="iso-8859-9" fileEncoding="utf-8" uiCulture="tr-TR" culture="tr-TR"></globalization>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="BaglantiCumlesi" connectionString="metadata=res://*/App_Code.MySQLDataModel.csdl|res://*/App_Code.MySQLDataModel.ssdl|res://*/App_Code.MySQLDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=12131213;Persist Security Info=True;database=emlak;charset=utf8&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>